{% extends 'base.html' %}

{% block content %}
  <main class="recipe-grid">
    {% for recipe in recipe_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </h2>
        <p class="recipe-card-date">{{ recipe.updated }}</p>
      </div>
    {% endfor %}
    {% for meal_plans in mealplan_list %}
      <div class="meal_plans-card">
        {% comment %} <h2 class="meal_plans-card-title">
          <a href="{% url 'meal_plans_detail' meal_plans.pk %}">{{ meal_plans.name }}</a>
        </h2> {% endcomment %}
        <p class="meal_plans-card-date">{{ meal_plans.updated }}</p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}
